<head>
  <title>bikes</title>
  <link rel="stylesheet" href="style.css" />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
  <link rel="icon" href="images/logo/bikepng.png" />

</head>