* {
  margin: 0;
  padding: 0;
}
#logo {
  height: 150px;
  width: auto;
}
.section {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  color: #fff;
  width: 100%;
}

/* this is copy paste from the swiperjs */
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
